body {

    background-color: rgb(196, 196, 196);
}

h1 {

    background-color: rgb(0, 206, 7);
}
/* 
li {

    background-color: blue;
}


h1 :hover {
    background-color: chocolate;

}

cambio  :hover{

    cursor: pointer;

}

div {

 background-color: crimson;

}



div:nth-child {
    color: rgb(118, 118, 229);
}




a {

text-decoration: line-through;

}

*/




.caja {

  width: 800px;
  height: 200px;
  border: 6px ;
  background-color: brown; 
  border: 5px solid black; 
  font-size: 16px;
  
    
}


.seccion-caja { 

    width: 100px;
    height: 100px;
    border: 5px solid rgb(89, 0, 197);
    border-radius: 50%;
    
} 



