body {

    background-color: brown;
}

h1 {

    background-color: aquamarine;
}

li {

    background-color: blue;
}


h1 :hover {
    background-color: chocolate;

}

cambio  :hover{

    cursor: pointer;

}